[flake8]
max-line-length = 120
extend-exclude =
    .venv,
    .nox,
    .pytest_cache,
extend-ignore = ANN101,ANN102,E203
per-file-ignores =
    src/keyrings/envvars/__init__.py: TC002
    src/keyrings/envvars/tests/*.py: S101,I252
max-complexity = 10
copyright-check = True
copyright-min-file-size = 1
copyright-author = Eskatos
known-modules = :[keyring_envvars,pytest,nox,dunamai,packaging]
enable-extensions = G,C,T,TC1
noqa-require-code = True
literal-multiline-quotes = double
ban-relative-imports = True
